*{
	margin: 0;
	padding: 0;
}
.about{
	display: flex;
	height: 100%;
	background-image: url(../assets/pbg.jpg);	
}
}
.left-about, .right-about{
		
}
.left-about{
	display: flex;
	justify-content: center;
	width: 50%;
}
